extends layout

block content
  //- h1= title
  //- p Welcome to #{title}

  a(href="#", id="wakeword") Hotword

  
  #eyeWrapper 
    .wrapper
    //- <svg id="eyes"></svg>
    //- <img src="./media/imgs/glasses/glass-regular.png" id="glasses">
  
  #videoWrapper 
    .wrapper
    //- <video src='' id="video" autoplay></video>
    //- <video src='' id="dummyVideo"></video>


  #gifWrapper 
    .wrapper
    //- <img src='' id="gif">


  #textWrapper 
    .wrapper
      h1#textOverlay
      

  //- <audio id="sound" src=''></audio>

  //- script(src='/js/global.js')
